@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
}

#biz-section {
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 30px auto; /* Add 'auto' for left and right margins */
  width: 80vw; /* Adjust the width to your preference */
  margin-bottom: -10px;
  position: relative;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  color: #fff;

  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
  border: 3px solid #ff9d8776;
  position: relative;
}

.panel.active {
  flex: 5;
  border-radius: 10px;
  height: 70vh;
}

/* ...other styles... */

.vertical-text {
  font-size: 2.5vw;

  position: absolute;
  color: rgba(255, 255, 255, 0.519);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  opacity: 0;
  white-space: nowrap;
  transition: transform 0.9s ease-in-out, top 0.9s ease-in-out,
    left 0.3s ease-in-out, opacity 0.3s ease-in-out, scale 0.3s ease-in-out;
  transform-origin: center;
}

.panel:not(.active) .vertical-text {
  opacity: 1;
}

.panel.active .vertical-text {
  top: 20px;
  left: 70px;
  transform: rotate(45deg);
  opacity: 1;
  transform: rotate(0deg) scale(1.2); /* Add scale effect */
}

.additional-text {
  font-size: 16px;
  position: absolute;
  color: white;
  padding: 30px;
  left: 30px;
  top: 90px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: "Barlow", sans-serif;
  word-wrap: break-word;
  max-width: calc(100% - 60px);
}

.panel:not(.active) .additional-text {
  font-size: 1px;
}

.panel.active .additional-text {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.7s;
}

.panel:hover .vertical-text {
  color: white;
  cursor: pointer;
}

.panel:hover {
  border-color: #fb8a8a;
}
.linked {
  color: #fb8a8a;
  font-weight: bold;
}

.biz-button {
  position: absolute;
  overflow: auto;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.image-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 30px;
}

.image {
  

  position: relative;
  max-height: 120px;
  transition: all 0.3s ease-in-out;
  border: 3px solid #fb8a8a; /* Add this line to your existing code */
  cursor: pointer;
}

.image.active {
  transform: scale(3) translateY(-35%) translateX(-10%);
  z-index: 100;
  transition: all 0.9s ease-in-out;
  border: 1px solid #fb8a8a; /* Add this line to your existing code */
}

.invisible {
  visibility: hidden;
}
  


.panel:not(.active) .image-container {
  display: none;
}

.image:hover {
  filter: brightness(130%) saturate(110%);
  transform: scale(3) translateY(-35%) translateX(-10%);
  z-index: 100;
  transition: all 0.9s ease-in-out; 
  border: 1px solid #fb8a8a; /* Add this line to your existing code */
}

@media (max-width: 992px) {
  .vertical-text {
    font-size: 26px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 30px auto;
    width: 95vw;
    margin-bottom: -10px;
    position: relative;
  }
}

@media (max-width: 792px) {
  .vertical-text {
    font-size: 26px;
  }
  .panel.active .vertical-text {
    left: 50px;
  }

  .additional-text {
    font-size: 16px;
    left: 30px;
    top: 60px;
    padding: 10px;
  }
}

@media (max-width: 660px) {
  #biz-section {
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* If you want to stack the content vertically. */
  }
  .additional-text {
    font-size: 16 px;
    top: 60px;
    padding: 50px 0px 0px;
    max-width: 100%;
  }

  .panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    color: #fff;
    flex: 0.5;
    margin: 3px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
    border: 3px solid #ff9d8776;
    position: relative;
  }

  .panel.active {
    position: relative;
    height: 60vh; /* set height of active panel */
    padding: 150px;
  }
  .panel:not(.active) {
    border: 1px solid #ff9d8776;
  }

  .rotated-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%; /* set width based on parent container */
    height: 100%; /* set height based on parent container */
    transform: rotate(90deg);
    min-width: 70vh;
    max-width: 100vh;
    height: 100vh;
    max-width: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  .rotated-container::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
  }

  .panel.active .vertical-text {
    transform: rotate(-90deg);
    top: 50%;
    left: 5%;
    transform: translateX(-50%) rotate(-90deg);
    text-align: left;
  }

  .panel.active .additional-text {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 55px;
    display: flex;
    left: -1%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
  }
  .rotated-container .additional-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  .container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; /* Adjust the width to your preference */
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%; /* set width based on parent container */
    height: 100%; /* set height based on parent container */
  }
}
